@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: @size-main;
  font-family: @font-family-main;
  font-weight: @font-wight-regular;
  line-height: @line-height-main;
}

.container {
  max-width: 535px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
